# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# macOS
.DS_Store

# VS Code
.vscode/

# Android Studio
.idea/
*.iml

# Misc
*.log